* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Monaco, menlo, inconsolata, monospace;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-size: 1rem;
	font-weight: bold;
	text-decoration: underline;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}

code {
	font-family: inherit;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}

body {
	--green: #99cc99;
	--red: #f2777a;
	--gray: #ddd;
}

hr {
	width: 100%;
	margin: 1rem 0;
	height: 1px;
	border: none;
	background: var(--gray);
}

form {
	display: flex;
	flex-direction: column;
	max-width: 500px;
}

label {
	display: flex;
	justify-content: space-between;
	margin: 0.25rem 0;
}

input, select {
	max-width: 300px;
	width: 100%;
}
